*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;

}

.container{
    background: rgb(176, 140, 198);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
           
}

.body-frame{
    display: flex;
    width: 300px;
    height: 580px;
    border: 2px solid white;
    justify-content: center;
    align-items:flex-end;
    background-color: blue;
    border-radius: 15px;
    background-image: url("https://images.unsplash.com/photo-1517497713463-f4a339ccd25a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-position:center;
    background-size: cover;

}


.body-frame .nav-bar{
    background-color: rgb(222, 239, 255);
    height: 60px;
    width: 100%;
    border-radius: 0 0 13px 13px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.nav-bar ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}

.nav-bar ul li .icon{
font-size: 1.3rem;
padding-top: 13px;
/* color:  #d52d5d; */
}

.nav-bar ul li .text{
    font-size: 0.7rem;
    font-weight: 600;
/*     color: #d52d5d; */
}

.nav-bar ul li:hover {
	color: rgb(245, 146, 250);
}
